.bottom_bar {
  .inner_area {
    padding: 1rem 0;
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    color: #414040;
    font-size: 0.9rem;

    .copyright_text {
      display: flex;
      align-items: center;
      text-transform: capitalize;

      .copyright_icon {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }
}
