@media only screen and (max-width: 600px) {
  .category-page {
    .inner-container {
      .product-listing {
        .details-and-view-options {
          // flex-direction: column;
          // align-items: start;

          .right-actions {
            .dropdown {
              margin-right: 0 !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 642px) {
  .category-page {
    .inner-container {
      .product-listing {
        .products {
          grid-template-columns: 100% !important;

          .product_card {
            .img {
              height: 50vh !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 690px) {
  .App {
    .category-page {
      .inner-container {
        .filters-area {
          display: none;

          &.show {
            .price-filter,
            .category-names-filter,
            .size-filter,
            .color-filter {
              width: 100% !important;
              margin-bottom: 2rem !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 782px) {
  .category-page {
    .inner-container {
      .product-listing {
        .product_card {
          .img {
            height: 32vh !important;
          }
        }

        .right-actions {
          .views-icons {
            display: none !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .App {
    .category-page {
      .inner-container {
        .filters-area {
          display: none;

          &.show {
            height: 70vh;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            overflow-y: scroll;

            .price-filter,
            .category-names-filter,
            .size-filter,
            .color-filter {
              .title {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .App {
    .category-page {
      .inner-container {
        .product-listing {
          width: 90vw !important;
        }

        .filters-area {
          display: none;

          &.show {
            .price-filter,
            .category-names-filter,
            .size-filter,
            .color-filter {
              width: 100% !important;
              margin-bottom: 2rem !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .App {
    .category-page {
      position: relative;

      .inner-container {
        display: flex;

        .filters-area {
          display: none;
          position: absolute;
          left: 9%;
          top: 6rem;
          width: 82%;

          &.show {
            height: 70vh;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            overflow-y: scroll;

            .price-filter,
            .category-names-filter,
            .size-filter,
            .color-filter {
              width: 45%;
              margin-top: 0;
              margin-right: 1rem;
            }
          }
        }

        .product-listing {
          width: 80vw;

          .details-and-view-options {
            justify-content: space-between !important;

            .filter-badge {
              display: flex;
              cursor: pointer;
            }
          }

          .products {
            grid-template-columns: 46% 46%;

            .product_card {
              .img {
                height: 47vh;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1260px) {
  .App {
    .category-page {
      .inner-container {
        .product-listing {
          .details-and-view-options {
            justify-content: flex-end;
          }

          .number-of-results-small {
            display: block;
          }

          .number-of-results {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1340px) {
  .App {
    .category-page {
      .inner-container {
        grid-template-columns: 35% 50%;

        .product-listing {
          .products {
            grid-template-columns: 47% 47%;
          }
        }
      }
    }
  }
}
