.product_card {
  .img {
    height: 400px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .brand {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #7c7c7c;
    margin-bottom: 0.7rem;
    text-align: left;
  }

  .product_name {
    text-align: left;
    margin-bottom: 0.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #202020;
  }

  .price_and_rating {
    display: flex;
    justify-content: space-between;

    .prev_price {
      margin-right: 1rem;
      color: #7c7c7c;
    }

    .current_price {
      color: rgb(255, 117, 117);
      font-weight: 500;
    }

    .rating {
      .each_star {
        color: rgb(255, 171, 93);
        // background-color: rgb(255, 171, 93);
      }
    }
  }
}
