.cart-container {
  background-color: #f9f9f9;
  .cart-wrapper {
    max-width: 1000px;
    margin: 0px auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    .cart-group-wrapper {
      background-color: #fff;
      width: 65%;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

      .cart-item {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 2px solid #efefef;
        margin-bottom: 20px;
        position: relative;
        .close {
          position: absolute;
          top: 0;
          right: 5px;
          font-weight: 600;
        }

        .cart-image {
          width: 25%;
          img {
            width: 100%;
          }
        }
        .cart-content {
          padding-left: 30px;

          .product-price {
            font-size: 25px;
            font-weight: bold;
            padding-bottom: 10px;
          }
          .product-title {
            color: #767676;
            font-weight: 600;
            padding-bottom: 10px;
          }
          .style-attribute {
            color: #767676;
          }
          .attributes-types {
            display: flex;
            font-weight: 600;
            color: #767676;
            padding: 20px 0;
            .color {
              padding-right: 20px;
            }
            .size {
              border-left: 2px solid #efefef;
              border-right: 2px solid #efefef;
              padding: 0 20px;
              select {
                font-weight: 600;
                color: #767676;
                border: none;
                font-family: unset;
              }
            }
            .quantity {
              padding: 0 20px;
              select {
                font-weight: 600;
                color: #767676;
                border: none;
                font-family: unset;
              }
            }
          }
          .save-later {
            width: 150px;
            display: inline-block;
            padding: 9px 10px;
            color: #767676;
            border: 1px solid #767676;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              margin-right: 5px;
            }
          }
        }
      }
      .cart-item-total {
        float: right;
        padding: 20px 0;
        font-weight: bold;
        display: flex;
        span {
          padding: 0 20px;
        }
      }
    }
    .cart-total-wrapper {
      width: 32%;

      .cart-total {
        padding: 20px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      }
      .total-header {
        border-bottom: 1px solid #efefef;
        font-weight: bold;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      .subtotal {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        font-weight: 500;
      }
      .delivery-option {
        border-bottom: 1px solid #efefef;
        select {
          width: 100%;
          font-weight: 600;
          color: #767676;
          border: none;
          font-family: unset;
          margin-bottom: 20px;
        }
      }
      .checkout-btn {
        padding: 10px;
        background-color: #45d3a0;
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin: 30px 0;
      }
      .payment-methods {
        display: flex;
        margin-top: 5px;
        margin-bottom: 10px;
        .card {
          width: 40px;
          border: 2px solid #efefef;
          border-radius: 5px;
          display: flex;
          align-items: center;
          margin-right: 5px;
          img {
            width: 100%;
          }
        }
      }
      p {
        font-size: 12px;
      }
      .shipping-info {
        margin-top: 30px;
        padding: 20px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        h4 {
          font-weight: 500;
        }
        p {
          margin: 5px 0;
          font-size: 12px;
          color: #767676;
        }
        .link {
          color: #45d3a0;
          font-size: 14px;
        }
      }
    }
  }
}
