/****** parent container styles ******/
.navbar-bigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  /***  logo styles ***/
  .logo {
    color: #202020;
  }

  /***  link list styles ***/
  .navlinks {
    ul {
      display: flex;
      font-weight: 400;

      li {
        font-size: 1.1rem;
        margin: 0 0.7rem;
        color: #202020;
      }
    }
  }

  .action_icons {
    .icon {
      margin: 0.7rem;
      font-size: 2rem;
      cursor: pointer;
    }

    .shoping_cart {
      display: inline-block;
      position: relative;

      .cart_items {
        position: absolute;
        display: inline-block;
        background-color: #93f19b;
        color: #fff;
        font-size: 0.8rem;
        width: 1rem;
        height: 1rem;
        left: 1.2rem;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
}

// navbar for small screens
.navbar-smaller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  .menu-and-wish-icon {
    font-size: 2rem;
    display: flex;

    .icon {
      margin: 0.5rem;
      display: flex;
      cursor: pointer;
    }

    .menu {
      margin-left: 0;
    }
  }

  /***  logo styles ***/
  .logo {
    color: #202020;
  }

  .action_icons {
    display: flex;

    .icon {
      margin: 0.7rem;
      font-size: 2rem;
      display: flex !important;
      cursor: pointer;
    }

    .shoping_cart {
      display: inline-block;
      position: relative;

      .cart_items {
        position: absolute;
        display: inline-block;
        background-color: #93f19b;
        color: #fff;
        font-size: 0.8rem;
        width: 1rem;
        height: 1rem;
        left: 1.2rem;
        border-radius: 50%;
        text-align: center;
      }
    }

    .shoping_cart {
      margin-left: 0;
    }

    .search {
      margin-right: 0;
    }
  }
}
