.category-listing {
  padding-top: 3rem;

  .inner-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 55%;

    .filters-area {
      padding: 2rem;
      background-color: #f5f3f3;
      margin-right: 3rem;
    }

    .product-listing {
      .details-and-view-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        .filter-badge {
          display: none;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #c0c0c0;
          padding: 0.5rem;
          color: #838383;

          .icon {
            display: flex;
            margin-left: 0.3rem;
          }
        }

        .number-of-results {
          color: #838383;
        }

        .right-actions {
          display: flex;
          align-items: center;

          .dropdown {
            margin-right: 1rem;
            select {
              padding: 0.7rem 1rem;
              width: 14rem;
              border-color: #dadada;
              background-color: #ffff;
              color: #838383;
            }
          }

          .views-icons {
            display: flex;

            img {
              width: 25px;
              height: 25px;
              margin-left: 0.5rem;
              margin-right: 0.5rem;
            }
          }
        }
      }

      .number-of-results-small {
        display: none;
        color: #838383;
        margin-bottom: 1rem;
      }

      .products {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        justify-content: space-between;

        .product_card {
          margin-bottom: 3rem;
        }
      }
    }
  }
}
