.mid_banner {
  padding: 4rem 0;

  .banner_img {
    position: relative;
    margin: 0 auto;
    width: 80vw;
    height: 50vh;
    background: url("../../public/images/img-12.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .button {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      padding: 1rem 2rem;
      background-color: #faf9f9;
      color: #202022;
      font-size: 1.2rem;
    }
  }
}
